@page "/transfers"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Transfers> localizer
    <div style="text-align:initial">

        <HeroTitle Title="@localizer["Page Under Construction"]" />
</div>