@page "/pay/orders"
@inject Microsoft.Extensions.Localization.IStringLocalizer<PayOrders> localizer
    <div style="text-align:initial">

        <HeroTitle Title="@localizer["Page Under Construction"]" />
        </div>