@page "/reconciliations"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Reconciliations> localizer
    <div style="text-align:initial">

        <HeroTitle Title="@localizer["Page Under Construction"]" />
        </div>