@page "/reports"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Reports> localizer
    <div style="text-align:initial">

        <HeroTitle Title="@localizer["Page Under Construction"]" />
</div>